<div class="new-container mt-5" data-controller="flatpickr">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true %>
      <%= f.input :last_name,
                  required: true %>
      <%= f.input :gender,
                  required: true,
                  collection: User::GENDER %>
      <%= f.input :birthday,
                  as: :string,
                  required: true,
                  input_html: {class: "datepicker"} %>
      <%= f.input :cellphone %>
      <%= f.input :cpf %>
      <%= f.input :user_type,
                  required: true,
                  collection: User::USER_TYPE %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :street,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "rua" }%>
      <%= f.input :number,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "número" }%>
      <%= f.input :city,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "cidade" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :photo,
                  as: :file,
                  placeholder:"Image",
                  :label => 'Image file:'%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Cadastrar", class: "btn-login" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
