<div class="new-container">
  <div class="table-new">
    <h2>Suas Doações</h2>
    <div class="table-content">
    <% @donations.each do |donation| %>
      <div class="table-grid">
        <span><strong><%= donation.medication.commercial_name %></strong></span>
        <span><%= donation.medication.active_substance %> - <%= donation.medication.concentration %></span>
        <span><%= donation.units %> comprimidos </span>
        <span class="text-center"><strong><%= donation.created_at.strftime('%d/%m/%y') %></strong></span>
      </div>
    <% end %>
    </div>
    <div class="d-flex justify-content-center border-top-0 align-items-center">
      <%= link_to "Faça Outra Doação", new_donation_path, class:"btn-green my-3" %>
    </div>
  </div>
</div>
