<div class="container mt-5">
<h1>Nova doação</h1>
<div data-controller="display-results" data-display-results-position-value="beforeend">
  <div class="search-bar d-flex mt-4 mb-3">
      <div class="form-search col-6">
        <%= form_for :query, url: medications_path, method: :get, remote: true,
                                       data: {
                                          display_results_target: "form",
                                          action: "submit->display-results#search"
                                          } do |f| %>
          <%= f.text_field :query,
            class: "form-control",
            placeholder: "Digite o nome do medicamento ou princípio ativo", data: { display_results_target: "input" }%>
      <div class="search-button">
          <%= f.submit "Procurar", class: "btn-medium"%>
      </div>
      <% end %>
      </div>
  </div>

  <%= simple_form_for [@donation] do |f|%>
      <span data-display-results-target="results">Nome do medicamento:</span>
      <%= f.input :medication_id, :label => false , as: :hidden, input_html: { value: params[:medication_id] } %>
      <%= f.input :units, :label => "Nº de comprimidos", class:'d-none' %>
      <%= f.input :expiry_date, :label => "Data de validade", class:'d-none' %>
      <%= f.button :submit, :label => "Doar", class: 'btn-medium' %>
  <% end %>
</div>

<h5>Unidades mais próximas a você: </h5>
<div style="width: 100%; height: 400px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


</div>
