<div class="container mt-5">
  <h1>Nova doação</h1>

  <%= simple_form_for [@donation] do |f|%>
    <%= f.input :units %>
    <%= f.input :expiry_date %>
    <%= f.association :medication, collection: Medication.all.order(:commercial_name), label_method: :name_and_concentration %>
    <%= f.association :pharmacy, collection: Pharmacy.all.order(:pharmacy_name), label_method: :pharmacy_name %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

  

  <div style="width: 100%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
