<div class="new-container">
  <div>
    <div data-controller="display-orders" data-display-orders-position-value="beforeend">
      <div data-display-orders-target ="search">
        <h1>Reserve um medicamento:</h1>
        <div class="search-bar mt-4 mb-3 justify-content-between">
          <div class="form-search">
            <%= form_for :query, url: medications_reservation_path, method: :get, remote: true,
                                          data: {
                                            display_orders_target: "form",
                                            action: "submit->display-orders#search"
                                            } do |f| %>
              <div class="row justify-content-between">
              <div class="col-12 col-lg-7">
                <%= f.text_field :query,
                  class: "form-control form-height",
                  placeholder: "Digite o nome do medicamento ou princípio ativo",
                  data: { display_orders_target: "input" }%>
              </div>
              <div class="col-12 col-lg-3">
                <%= f.text_field :units,
                    class: "form-control form-height",
                    placeholder: "N° de comprimidos",
                    data: { display_orders_target: "units" }%>
              </div>
                <div class="search-button col-12 col-lg-2">
                  <%= f.submit "Procurar", class: "btn-search-medication" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <div id="anchor-text">
    </div>
      <div>
        <span data-display-orders-target="results" class="d-none"><strong>Selecione seu medicamento:</strong></span>
        <% if params[:medication_id] %>
          <% if @pharmacies.count.positive? %>
              <%= simple_form_for @medication_order, html: { data: { display_orders_target: "medications", insert_in_list_target:"pharmacy"} }, class:"d-none" do |f| %>
                <%= f.input :medication_id, label: false, class: "form-control form-control-lg", as: :hidden, input_html: { value: params[:medication_id] } %>
                <%= f.input :units, label: false, class: "form-control form-control-lg", as: :hidden, input_html: { value: params[:units] } %>
                <%= f.input :qr_code, as: :hidden, input_html: { value: "Reserva para: #{current_user.first_name.capitalize} #{current_user.last_name.capitalize} - Nº da Reserva: #{rand(1000..3000)}" } %>
                <%= f.association :pharmacy, :label => "Local de coleta", collection: @pharmacies, label_method: :pharmacy_name %>
                <%= f.submit "Reservar", class: 'btn-principal' %>
              <% end %>
            <% else %>
              <p>Não temos esse medicamento</p>
            <% end %>
          <% end %>
        </div>

    </div>
    <% if @markers && @markers.count.positive? %>
      <h5 class="mt-5">Unidades com o medicamento disponível: </h5>
      <div class="d-flex justify-content">
        <div style="width: 100%; height: 400px;"
          data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
  </div>
</div>
